<div id="nav">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>
  <a href="https://github.com/overlisted/mango">Source code</a>
</div>
